<user-list></user-list>
<body>
    <div ng-controller="usersAppController">
        <div class="container-fluid">
                <h2>
                    <font color="007bff">Offers</font>
                </h2>
                <div class="container">
                    <table class="table">
                        <!--Body content-->
                        <!-- <ul> -->
                            <thead>
                                <tr ng-show="transactions">
                                    <th>Customer</th>
                                    <th>Transction Description</th>
                                    <th>Spend Category</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Payment Type</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="transaction in transactions | filter: category | itemsPerPage: 6">
                                    <td>{{transaction.customerId}}</td>
                                    <td>{{transaction.description}}</td>
                                    <td>{{transaction.spendCategory}}</td>
                                    <td>{{transaction.amount}}</td>
                                    <td>{{transaction.date | date }}</td>
                                    <td>{{transaction.paymentType}}</td>
                                    <td>{{transaction.balance}}</td>
                                </tr>
                            </tbody>
                        <!-- </ul> -->
                    </table>
                    <dir-pagination-controls
                    max-size="3"
                    direction-links="true"
                    boundary-links="true" >
                </dir-pagination-controls>
                    <!-- <div data-pagination="" data-num-pages="$ctrl.numOfPages()" 
                    data-current-page="$ctrl.curPage" data-max-size="$ctrl.maxSize"  
                    data-boundary-links="true"></div> -->
                    <!--  			totalItems: totalItems,
			currentPage: currentPage,
			pageSize: pageSize,
			totalPages: totalPages,
			startPage: startPage,
			endPage: endPage,
			startIndex: startIndex,
			endIndex: endIndex,
			pages: pages-->
                    <!-- <ul ng-if="$ctrl.filteredPets.length" class="pagination">
                        <li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
                            <a ng-click="$ctrl.setPage(1)">First</a>
                        </li>
                        <li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
                            <a ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">Previous</a>
                        </li>
                        <li ng-repeat="page in $ctrl.pager.pages" ng-class="{active:$ctrl.pager.currentPage === page}">
                            <a ng-click="$ctrl.setPage(page)">{{page}}</a>
                        </li>                
                        <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
                            <a ng-click="$ctrl.setPage($ctrl.pager.currentPage + 1)">Next</a>
                        </li>
                        <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
                            <a ng-click="$ctrl.setPage($ctrl.pager.totalPages)">Last</a>
                        </li>
                    </ul>
             -->
                </div>
        </div>

    </div>
</body>
